.bg-ec_dark_blue
{
	background-color: #004494;
	color: #fff;
} 

.img-eu_flag
{
	width: 40px;
	height: 40px;
} 

.input-main_search
{

}

.header
{
	height: 50px;

	position: sticky;
	top: 0;
	z-index: 1;
}

.container--header
{
	display: flex;
	align-items: center;

	height: 100%;
}

.container--main
{
	display: flex;

}

.col
{
	padding-top: 20px;
}

.col--side
{
	width: 160px;
	min-width: 160px;
}

.col--main
{
	padding: 20px;
}

.sidebar
{
	position: sticky;
	top: 50px;
	height: calc(100vh - 50px);
	overflow-y: auto;
}

.card--search_result
{
	margin-bottom: 10px;
}

.line_under
{
	border-bottom: 1px solid #e5e5e5;
}

em
{
	font-weight: 700;
}