{#
#---------------------------------------------------------------------------#
#-----------------             BAKALÁŘSKÁ PRÁCE            -----------------#
#----------------- Aktualizace portálu evropských projektů -----------------#
#-----------------     a jeho rozšíření o identifikaci     -----------------#
#-----------------     výsledků, souvisejících s tématy    -----------------#
#-----------------          nově vypisovaných výzev        -----------------#
#-----------------              FIT VUT v Brně             -----------------#
#----------------- Autor: Lucie Dvořáková (2014-2015)      -----------------#
#-------------------      Petr Staněk (2015-2016)          -----------------#
#-------------------      Jiří Furda (2018-2019)           -----------------#
#----------------- Vedoucí: Doc. RNDr. Pavel Smrž, Ph.D.   -----------------#
#----------------------- Poslední úpravy: 15.5.2019 ------------------------#
#--- Soubor: show.py                                          Verze: 3.0 ---#
#-------- http://knot.fit.vutbr.cz/wiki/index.php/rrs_eu_projects14 --------#
#--------------------- Licence: BUT Open source licence --------------------#
#---------------------------------------------------------------------------#
#}

{% extends 'layout.html' %}

{% block body %}
    <div class="card card--project-details card--small-padding">
        <div class="card-header">
            Topic details
        </div>
        <div class="card-body">

					<b>Deadline Model</b>
					<ul>
						<li>{{ topic.body.deadlineModel }}</li>
					</ul>

					<b>Opening date</b>
					<ul>
						<li>{{ format_date(topic.body.openingDate) }}</li>
					</ul>

					<b>Deadline {{ 's' if topic.body.deadlines|length > 1 }}</b>
					<ul>
                        {% for deadline in topic.body.deadlines %}
						    <li>{{ format_date(deadline) }}</li>
                        {% endfor %}
					</ul>

					<b>State</b>
					<ul>
						<li>{{ topic.body.callStatus }}</li>
					</ul>


            <b>Funded under</b>
            <ul>
                <li>{{ topic.body.fundedUnder.programme }}-{{ topic.body.fundedUnder.subprogramme }}</li>
            </ul>

            <b>CCM2ID</b>
            <ul>
                <li>{{ topic.body.ccm2Id }}</li>
            </ul>

            <b>Call name</b>
            <ul>
                <li>{{ topic.body.call_title }}</li>
            </ul>

            {% if topic.body.callForPropos %}
                <b>Call ID</b>
                <ul>
                    <li>{{ topic.body.callForPropos }}</li>
                </ul>
            {% endif %}

            {% if topic.body.tags %}
                <b>Tags</b>
                <ul>
                    {% for tag in topic.body.tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>


    <h1 class="h2"><strong>{{ topic.body.identifier }}</strong> - {{ topic.body.title }}</h1>
    {{ topic.body.description_html|safe }}
    
        {% if similar_topics %}
        <h3 class="pb-2">Similar topics</h3>
        <div class="row">
            {% for similar_topic in similar_topics %}
                <div class="col-md-4">
                    <h4 class="h5">{{ similar_topic.title }}</h4>
                    {% if similar_topic.description %}
                        <p>{{ similar_topic.description[:300] }}...</p>
                    {% endif %}
                    <p><a class="btn btn-secondary" href="/topics/{{ similar_topic.identifier }}" role="button">Read more</a></p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}