{#
#---------------------------------------------------------------------------#
#-----------------             BAKALÁŘSKÁ PRÁCE            -----------------#
#----------------- Aktualizace portálu evropských projektů -----------------#
#-----------------     a jeho rozšíření o identifikaci     -----------------#
#-----------------     výsledků, souvisejících s tématy    -----------------#
#-----------------          nově vypisovaných výzev        -----------------#
#-----------------              FIT VUT v Brně             -----------------#
#----------------- Autor: Lucie Dvořáková (2014-2015)      -----------------#
#-------------------      Petr Staněk (2015-2016)          -----------------#
#-------------------      Jiří Furda (2018-2019)           -----------------#
#----------------- Vedoucí: Doc. RNDr. Pavel Smrž, Ph.D.   -----------------#
#----------------------- Poslední úpravy: 15.5.2019 ------------------------#
#--- Soubor: show.py                                          Verze: 3.0 ---#
#-------- http://knot.fit.vutbr.cz/wiki/index.php/rrs_eu_projects14 --------#
#--------------------- Licence: BUT Open source licence --------------------#
#---------------------------------------------------------------------------#
#}

{% extends 'layout.html' %}

{% block body %}
    <div class="card card--project-details card--small-padding">
        <div class="card-header">
            Topic details
        </div>
        <div class="card-body">
            {#
					<b>Type of action</b>
					<ul>
						<li></li>
					</ul>

					<b>Deadline Model</b>
					<ul>
						<li></li>
					</ul>

					<b>Opening</b>
					<ul>
						<li></li>
					</ul>

					<b>Deadline</b>
					<ul>
						<li></li>
					</ul>

					<b>State</b>
					<ul>
						<li>{{  }}</li>
					</ul>
                    #}

            <b>Funded under</b>
            <ul>
                <li>{{ topic.fundedUnder.programme }}-{{ topic.fundedUnder.subprogramme }}</li>
            </ul>

            <b>CCM2ID</b>
            <ul>
                <li>{{ topic.ccm2Id }}</li>
            </ul>

            <b>Call name</b>
            <ul>
                <li>{{ topic.call_title }}</li>
            </ul>

            <b>Call ID</b>
            <ul>
                <li>{{ topic.callForPropos }}</li>
            </ul>

            {% if topic.tags %}
                <b>Tags</b>
                <ul>
                    {% for tag in topic.tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>


    <h1 class="h2"><strong>{{ topic.identifier }}</strong> - {{ topic.title }}</h1>
    {{ topic.description_html|safe }}
{% endblock %}