{% extends "layout.html" %}

{% block body %}
    {{ debug }}

    {% if search_type == 'projects' %}
        <div>
            <h2>Projects</h2>
            <p>Found {{ searches[search_type].response.hits.total }} projects</p>

            {% for result in searches[search_type].response.hits %}
                <div class="card card--search_result card--small-padding rounded shadow-sm">
                    <div class="card-header bg-ec_dark_blue">
                        <a href="{{ url_for("projects.show", project_id=result.id) }}"><strong>{{ result.acronym }}</strong> - {{ result.title }}</a>
                    </div>
                    <div class="card-body">
                        <p>
                            {% if result.meta.highlight and result.meta.highlight.objective %}
                                ...{{ " ... ".join(result.meta.highlight.objective)|safe }}...
                            {% elif result.objective %}
                                {{ result.objective[:300] }}...
                            {% endif %}
                        </p>
                        <a href="{{ url_for("projects.show", project_id=result.id) }}">View details »</a>
                    </div>
                    <div class="card-footer text-muted">
                        {{ result.statusDetails }} - From {{ result.startDate }} to {{ result.endDate }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% elif search_type == 'deliverables' %}
        <div>
            <h2>Deliverables</h2>
            <p>Found {{ searches[search_type].response.hits.total }} deliverables</p>

            {% for result in searches[search_type].response.hits %}
                <div class="card card--search_result card--small-padding rounded shadow-sm">
                    <div class="card-header bg-ec_dark_blue">
                        <a href="{{ url_for("projects.show", project_id=result.id) }}"><strong>{{ result.acronym }}</strong> - {{ result.title }}</a>
                    </div>
                    <div class="card-body">
                        <p>
                            {% if result.meta.highlight and result.meta.highlight.objective %}
                                ...{{ " ... ".join(result.meta.highlight.objective)|safe }}...
                            {% elif result.objective %}
                                {{ result.objective[:300] }}...
                            {% endif %}
                        </p>
                        <a href="{{ url_for("projects.show", project_id=result.id) }}">View details »</a>

                    </div>
                    <div class="card-footer text-muted">
                        <p>
                        {% if result.meta.highlight and result.meta.highlight.deliv and result.meta.highlight.deliv.plainText %}
                            ...{{ " ... ".join(result.meta.highlight.deliv.plainText)|safe }}...
                        {% else %}
                            {% if result.deliv and result.deliv.plainText %}
                                {{ result.deliv.plainText[:300] }}...
                            {% else %}
                                Content is missing
                            {% endif %}
                        {% endif %}
                    </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% elif search_type == 'topics' %}
        <div>
            {{ searches[search_type].response.aggregations.to_dict() }}
            <h2>Topics</h2>
            <p>Found {{ searches[search_type].response.hits.total }} topics</p>

            {% for result in searches[search_type].response.hits %}
                <div class="card card--search_result card--small-padding rounded shadow-sm">
                    <div class="card-header bg-ec_dark_blue">
                        {{ result.call_title }}
                    </div>
                    <div class="card-body">
                    {{ result.to_dict() }}
                        <p>
                            {% if result.meta.highlight and result.meta.highlight.description %}
                                ...{{ " ... ".join(result.meta.highlight.description)|safe }}...
                            {% else %}
                                {% if result.description and result.description %}
                                    {{ result.description[:300]|safe }}...
                                {% else %}
                                    Content is missing
                                {% endif %}
                            {% endif %}
                        </p>
                        <a href="{{ url_for("topics.show", topic_id=result.identifier) }}">View details »</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}