{#
#---------------------------------------------------------------------------#
#-----------------             BAKALÁŘSKÁ PRÁCE            -----------------#
#----------------- Aktualizace portálu evropských projektů -----------------#
#-----------------     a jeho rozšíření o identifikaci     -----------------#
#-----------------     výsledků, souvisejících s tématy    -----------------#
#-----------------          nově vypisovaných výzev        -----------------#
#-----------------              FIT VUT v Brně             -----------------#
#----------------- Autor: Lucie Dvořáková (2014-2015)      -----------------#
#-------------------      Petr Staněk (2015-2016)          -----------------#
#-------------------      Jiří Furda (2018-2019)           -----------------#
#----------------- Vedoucí: Doc. RNDr. Pavel Smrž, Ph.D.   -----------------#
#----------------------- Poslední úpravy: 15.5.2019 ------------------------#
#--- Soubor: index.py                                         Verze: 3.0 ---#
#-------- http://knot.fit.vutbr.cz/wiki/index.php/rrs_eu_projects14 --------#
#--------------------- Licence: BUT Open source licence --------------------#
#---------------------------------------------------------------------------#
#}

{% extends "layout.html" %}

{% block body %}

    {% if search_type == 'projects' %}
        <div>
            <h2>Projects</h2>
            <p>Found {{ searches[search_type].response.hits.total }} projects</p>

            {% for result in searches[search_type].response.hits %}
                <div class="card card--search_result card--small-padding rounded shadow-sm">
                    <div class="card-header bg-ec_dark_blue">
                        <a href="{{ url_for("projects.show", project_id=result.id) }}"><strong>{{ result.acronym }}</strong> - {{ result.title }}</a>
                    </div>
                    <div class="card-body">
                        <p>
                            {% if result.meta.highlight and result.meta.highlight.objective %}
                                ...{{ " ... ".join(result.meta.highlight.objective)|safe }}...
                            {% elif result.objective %}
                                {{ result.objective[:300] }}...
                            {% endif %}
                        </p>
                        <a href="{{ url_for("projects.show", project_id=result.id) }}">View project »</a>
                    </div>
                    <div class="card-footer text-muted">
                        {% if result.statusDetails %}{{ result.statusDetails }} - {% endif %}From {{ result.startDate }} to {{ result.endDate }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% elif search_type == 'deliverables' %}
        <div>
            <h2>Deliverables</h2>
            <p>Found {{ searches[search_type].response.hits.total }} deliverables</p>

            {% for result in searches[search_type].response.hits %}
                <div class="card card--search_result card--small-padding rounded shadow-sm">
                    <div class="card-header bg-ec_dark_blue">
                        <a href="{{ result.deliv.sourceInfo[0].url }}">{{ result.deliv.sourceInfo[0].title }}</a>
                    </div>
                    <div class="card-body">
                        <p>
                            {% if result.meta.highlight and result.meta.highlight['deliv.plainText'] %}
                                ...{{ " ... ".join(result.meta.highlight['deliv.plainText'])|safe }}...
                            {% else %}
                                {% if result.deliv and result.deliv.plainText %}
                                    {{ result.deliv.plainText[:300] }}...
                                {% else %}
                                    Content is missing
                                {% endif %}
                            {% endif %}
                        </p>
                        <a href="{{ result.deliv.sourceInfo[0].url }}">View deliverable »</a>

                    </div>
                    <div class="card-footer text-muted">
                        From project <a href="{{ url_for("projects.show", project_id=result.id) }}"><span class="font-italic">"{{ result.acronym }} - {{ result.title }}"</span></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% elif search_type == 'topics' %}
        <div>
            <h2>Topics</h2>
            <p>Found {{ searches[search_type].response.hits.total }} topics</p>

            {% for result in casted_results %}
                <div class="card card--search_result card--small-padding rounded shadow-sm">
                    <div class="card-header bg-ec_dark_blue">
                        <a href="{{ url_for("topics.show", topic_id=result.body.identifier) }}">
                            <strong>{{ result.body.identifier }}</strong> - {{ result.body.title }}
                        </a>
                    </div>
                    <div class="card-body">
                        <p>
                            {% if result.body.meta.highlight and result.body.meta.highlight.description %}
                                ...{{ " ... ".join(result.body.meta.highlight.description)|safe }}...
                            {% else %}
                                {% if result.body.description and result.body.description %}
                                    {{ result.body.description[:300]|safe }}...
                                {% else %}
                                    Content is missing
                                {% endif %}
                            {% endif %}
                        </p>
                        <a href="{{ url_for("topics.show", topic_id=result.body.identifier) }}">View topic »</a>
                    </div>
                    <div class="card-footer text-muted">
                        {{ result.statusSummary() }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {{ searches[search_type].pagination.links }}
{% endblock %}