<!doctype html>
<!--
#---------------------------------------------------------------------------#
#-----------------             BAKALÁŘSKÁ PRÁCE            -----------------#
#----------------- Aktualizace portálu evropských projektů -----------------#
#-----------------     a jeho rozšíření o identifikaci     -----------------#
#-----------------     výsledků, souvisejících s tématy    -----------------#
#-----------------          nově vypisovaných výzev        -----------------#
#-----------------              FIT VUT v Brně             -----------------#
#----------------- Autor: Lucie Dvořáková (2014-2015)      -----------------#
#-------------------      Petr Staněk (2015-2016)          -----------------#
#-------------------      Jiří Furda (2018-2019)           -----------------#
#----------------- Vedoucí: Doc. RNDr. Pavel Smrž, Ph.D.   -----------------#
#----------------------- Poslední úpravy: 15.5.2019 ------------------------#
#--- Soubor: extactor.py                                      Verze: 3.0 ---#
#-------- http://knot.fit.vutbr.cz/wiki/index.php/rrs_eu_projects14 --------#
#--------------------- Licence: BUT Open source licence --------------------#
#---------------------------------------------------------------------------#
--->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>European Research Projects Portal</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
    >
    <link
            type="text/css"
            rel="stylesheet"
            href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
    >
    <link rel="stylesheet" href="/static/css/custom.css">

    <!-- Hotjar Tracking Code for http://athena17.fit.vutbr.cz:2021/ -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1314574,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>


    <script type="text/javascript">
    window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', 'b77713d57693a5968c4dce5c6f29779f699c6d36');
</script>
</head>
<body class="bg-light">
<div id="vue">
    <form action="/" method="GET" class="flex-grow-1">
        <header class="header bg-ec_dark_blue">
            <div class="container container--header">
                <div class="col--side d-flex justify-content-between">
                    <a href="/">
                        <img src="/static/img/European_stars.svg" class="img-eu_flag">
                    </a>
                    <a href="/" class="link-unstyled">
                        <div class="text-center">European Research Projects Portal</div>
                    </a>
                </div>
                <div class="col--main">
                    <search-input :old-value="'{{ layout_data['get_arguments'].get('query', '') if layout_data['get_arguments'] }}'"></search-input>
                    <input type="hidden" name="type" value="{{ layout_data['get_arguments'].get('type', 'projects') }}">
                    <ul class="nav nav-tabs pt-1 border-bottom-0">
                        <li class="nav-item"><span class="nav-link disabled text-white pl-0" py-1>Search for:</span></li>
                        <li class="nav-item">
                            <a class="nav-link py-1 {{ 'active' if layout_data['get_arguments'].get('type', 'projects') == 'projects' else 'text-white' }}" href="{{ modify_query(type='projects', page=1) }}">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-1 {{ 'active' if layout_data['get_arguments'].get('type', 'projects') == 'deliverables' else 'text-white' }}" href="{{ modify_query(type='deliverables', page=1) }}">Deliverables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-1 {{ 'active' if layout_data['get_arguments'].get('type', 'projects') == 'topics' else 'text-white' }}" href="{{ modify_query(type='topics', page=1) }}">Topics</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>


        <div class="container container--main">
            <div class="col--side sidebar">
                <div v-if="!$data">
                    Loading...
                </div>
                <sidebar-facet-list></sidebar-facet-list>
                <button class="btn btn-secondary" type="submit">Apply filters</button>
            </div>
            <div class="col--main flex-grow-1 content">
                {% block body %}{% endblock %}
            </div>
        </div>

    </form>
    <modal-facet-list></modal-facet-list>
</div>

<script src="//unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
<script src="/static/vendor/vue.js"></script>
<script src="/static/vendor/vuex.js"></script>
<script src="/static/vendor/axios.min.js"></script>
<script src="https://unpkg.com/vue-router"></script>
<scipt src="http://unpkg/vue/dist/vue.js"></scipt>
<script src="http://unpkg.com/portal-vue"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
<script src="/static/js/vue.js"></script>
<script>
    vue.$store.commit('initFacetsData', {{ layout_data['vue_facets']|safe }});
    vue.$store.commit('initEsQuery', {{ layout_data['vue_elastic_search']|safe }});
    vue.$store.commit('initSearchType', '{{ layout_data['get_arguments'].get('type', 'projects') }}');
</script>
{% block javascript %}{% endblock %}
</body>
</html>