{% extends 'layout.html' %}

{% block body %}
	<div class="container">
        <div class="content">
            {{ debug }}


            <div class="card card--project-details card--small-padding">
                <div class="card-header">
                    Topic details
                </div>
                <div class="card-body">
					<b>Type of action</b>
					<ul>
						<li></li>
					</ul>

					<b>Deadline Model</b>
					<ul>
						<li></li>
					</ul>

					<b>Opening</b>
					<ul>
						<li></li>
					</ul>

					<b>Deadline</b>
					<ul>
						<li></li>
					</ul>

					<b>State</b>
					<ul>
						<li></li>
					</ul>

					<b>Call name</b>
					<ul>
						<li>{{ topic.call_title }}</li>
					</ul>

					<b>Call ID</b>
					<ul>
						<li>{{ topic.call_identifier }}</li>
					</ul>


                </div>
            </div>

            <h1 class="h2">{{ topic.title }}</h1>
            {{ topic.description|safe }}

            <h2 class="h4 pt-4 pb-2">Related topics statistics</h2>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="topics-tab" data-toggle="tab" href="#topics" role="tab">Similar topics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="teams-tab" data-toggle="tab" href="#teams" role="tab">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#countries" role="tab">Countries</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="topics" role="tabpanel">
                    {% if(similar_topics) %}
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for similar_topic in similar_topics %}
                                <tr>
                                    <td><a href="/calls/{{ similar_topic.identifier }}">{{ similar_topic.title }}</td>
                                    <td>{{ similar_topic.meta.score }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        No similar topics found
                    {% endif %}
                </div>
                <div class="tab-pane fade show" id="projects" role="tabpanel">
                    {% if(projects_in_topic) %}
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in projects_in_topic %}
                                <tr>
                                    <td><a href="/projects/{{ project.id }}">{{ project.title }}</td>
                                    <td>{{ project.meta.score }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        No projects with this topic found
                    {% endif %}
                </div>
                <div class="tab-pane fade show" id="countries" role="tabpanel">
                    {% if(countries) %}
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Country name</th>
                                <th scope="col"># projects involved in</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for countryCountTuple in countries %}
                                <tr>
                                    <td>{{ countryCountTuple[0] }}</td>
                                    <td>{{ countryCountTuple[1] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        No projects with this topic found
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}