{% extends "layout.html" %}

{% block body %}
<div id="vue">
    <div class="container container--main">
        <div class="col--side sidebar">
            <div v-if="!$data">
                Loading...
            </div>
            <sidebar-facet-list></sidebar-facet-list>
            <button class="btn btn-secondary" type="submit">Apply filters</button>
        </div>
        <div class="col--main flex-grow-1 content">
            <search-input :old-value="'{{ get_arguments.get('query-new', '') if get_arguments }}'"></search-input>
            <h1 class="h3">Search results</h1>

            {{ debug }}

            <div id="test">
            </div>

            <p>
                Found {{ results.hits.total }} projects<br>
                Found {{ response_deliv.hits.total }} deliverables
            </p>

            <p>
                {# @todo Hide when no facet is used #}
                {# @todo Move logic to .py file #}
                {# @todo Use real facets not GET arguments #}
                <!--
                Active filters:
                {% for arg_name, arg_value in request.args.iteritems(True) %}
                    {% if arg_name != "query" and arg_name != "search" %}
                        <span class="badge badge-secondary">{{ arg_value }}{# <a href="{{ url_for(request.endpoint) }}">X</a> #}</span>
                    {% endif %}
                {% endfor %}
                -->
            </p>

            {% for result in results %}

                <div class="card card--search_result card--small-padding rounded shadow-sm">
                    <div class="card-header bg-ec_dark_blue">
                        <a href="{{ url_for("projects.show", project_id=result.id) }}"><strong>{{ result.acronym }}</strong> - {{ result.title }}</a>
                    </div>
                    <div class="card-body">
                        <p>
                            {% if result.meta.highlight and result.meta.highlight.objective %}
                                ...{{ " ... ".join(result.meta.highlight.objective)|safe }}...
                            {% elif result.objective %}
                                {{ result.objective[:300] }}...
                            {% endif %}
                        </p>
                        <a href="{{ url_for("projects.show", project_id=result.id) }}">View details »</a>
                    </div>
                    <div class="card-footer text-muted">
                        {{ result.statusDetails }} - From {{ result.startDate }} to {{ result.endDate }}
                    </div>
                </div>
            {% endfor %}

            <div class="d-flex justify-content-center pt-1">
                {{ pagination.links }}
            </div>
        </div>
    </div>
    <init-vue-data
        :facets='{{ vue_facets|safe }}'
        :es='{{ es_query|safe }}'></init-vue-data>
    <modal-facet-list></modal-facet-list>
</div>
{% endblock %}


{% block javascript %}
    <script src="/static/js/vue.js"></script>
{% endblock %}