{% extends "layout.html" %}

{% block body %}
    <div class="container container--main">
        <div class="col--side sidebar">
            <!--<button class="btn" type="send">Use filters</button>-->
            <ul class="list-unstyled">
                {% for facet in facets %}
                    <li>
                        <div class="facet-label collapsed" data-toggle="collapse" href="#collapse-{{ facet.name }}" role="button" aria-expanded="false" aria-controls="collapse-{{ facet.name }}">
                            {{ facet.title }}
                        </div>
                        <div class="facet-submenu collapse" id="collapse-{{ facet.name }}">
                            {% set facetLoop = loop %}
                            {% for facet_data in facets_data[facet.name] %}
                                {% if loop.index < 6 %}
                                    <div class="form-check w-100" data-value="{{ facet_data.key }}">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               value="{{ facet_data.key }}"
                                               id="defaultCheck[{{ facetLoop.index }}][{{ loop.index }}]"
                                               name="{{ facet.name }}"
                                                {% if facet_data.key in get_arguments.getlist(facet.name)  %}
                                               checked
                                                {% endif %}
                                        >
                                        <label class="form-check-label w-100" for="defaultCheck[{{ facetLoop.index }}][{{ loop.index }}]">
                                            <div class="facet-submenu-item">
                                                <div class="d-inline-block text-truncate" data-toggle="tooltip" data-placement="left" title="{{ facet_data.key }}">{{ facet_data.key }}</div>
                                                <div><span class="badge badge-pill badge-secondary">{{ facet_data.doc_count }}</span></div>
                                            </div>
                                        </label>
                                    </div>
                                {% else %}
                                    <button type="button"
                                            class="btn btn-sm btn-link more-facets"
                                            title="{{ facet.title }}"
                                            data-toggle="modal"
                                            data-target="#facetModal-{{ facet.name }}"
                                    >
                                        More...
                                    </button>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}

                <li>
                    <div class="facet-label collapsed" data-toggle="collapse" href="#collapse-test" role="button" aria-expanded="false" aria-controls="collapse-test">
                        test
                    </div>
                    <div class="facet-submenu collapse" id="collapse-test">
                        <div class="form-check w-100" data-value="test">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value="test"
                                   id="defaultCheck[test][test]"
                                   name="test"
                            >
                            <label class="form-check-label w-100" for="defaultCheck[test}][test]">
                                <div class="facet-submenu-item">
                                    <div class="d-inline-block text-truncate" data-toggle="tooltip" data-placement="left" title="test">test</div>
                                    <div><span class="badge badge-pill badge-secondary">test</span></div>
                                </div>
                            </label>
                        </div>
                        <button type="button"
                                class="btn btn-sm btn-link more-facets"
                                title="test"
                                data-toggle="modal"
                                data-target="#facetModal-test"
                        >
                            More...
                        </button>
                    </div>
                </li>


                <li>
                    <button class="btn btn-secondary" type="submit">Apply filters</button>
                </li>
            </ul>
        </div>
        <div class="col--main flex-grow-1 content">
            <h1 class="h3">Search results</h1>

            {{ debug }}

            <div id="test">
            </div>

            <p>
                Found {{ results.hits.total }} results
            </p>

            <p>
                {# @todo Hide when no facet is used #}
                {# @todo Move logic to .py file #}
                {# @todo Use real facets not GET arguments #}
                Active filters:
                {% for arg_name, arg_value in request.args.iteritems(True) %}
                    {% if arg_name != "query" and arg_name != "search" %}
                        <span class="badge badge-secondary">{{ arg_value }}{# <a href="{{ url_for(request.endpoint) }}">X</a> #}</span>
                    {% endif %}
                {% endfor %}
            </p>

            {% for result in results %}

                <div class="card card--search_result card--small-padding rounded shadow-sm">
                    <div class="card-header bg-ec_dark_blue">
                        <a href="{{ url_for("projects.show", project_id=result.id) }}"><strong>{{ result.acronym }}</strong> - {{ result.title }}</a>
                    </div>
                    <div class="card-body">
                        <p>
                            {% if result.meta.highlight and result.meta.highlight.objective %}
                                ...{{ " ... ".join(result.meta.highlight.objective)|safe }}...
                            {% elif result.objective %}
                                {{ result.objective[:300] }}...
                            {% endif %}
                        </p>
                        <a href="{{ url_for("projects.show", project_id=result.id) }}">View details »</a>
                    </div>
                    <div class="card-footer text-muted">
                        {{ result.statusDetails }} - From {{ result.startDate }} to {{ result.endDate }}
                    </div>
                </div>
            {% endfor %}

            <div class="d-flex justify-content-center pt-1">
                {{ pagination.links }}
            </div>
        </div>
    </div>

    <!-- Modal -->
    {#
    {% for facet in facets %}
        {% if facets_data[facet.name]|length >= 6 %}
            <div class="modal fade facet-modal" id="facetModal-{{ facet.name }}" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ facet.title }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="in-facet-search">
                                <input class="form-control form-control-sm in-facet-search-input">
                            </div>
                            <div class="pt-2 facet-modal-options">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    #}
    <hr>
    {{ vue_facets|safe }}
    <hr>
    <div id="vue">

        <init-vue-data
            {#
            :facets='[{
                name: "testfacet",
                title: "Test Facet",
                field: "test.facet",
                mostFrequentOptions: [
                    {text: "Czechia", value: "cz"},
                    {text: "Czechia2", value: "cz2"},
                    {text: "Czechia3", value: "cz3"},
                    {text: "Czechia4", value: "cz4"},
                    {text: "Czechia5", value: "cz5"},
                ],
                modalOptions: [
                    {text: "Czechia", value: "cz"},
                    {text: "Czechia2", value: "cz2"},
                    {text: "Czechia3", value: "cz3"},
                    {text: "Czechia4", value: "cz4"},
                    {text: "Czechia5", value: "cz5"},
                    {text: "Slovakia", value: "sk"},
                    {text: "Netherlands", value: "nl"},
                ],
                checkedOptions: [],
            }]'
            #}
            :facets='{{ vue_facets|safe }}'
            :es='{{ es_query|safe }}'></init-vue-data>
        <sidebar-facet-list></sidebar-facet-list>
        <modal-facet-list></modal-facet-list>
    </div>
{% endblock %}


{% block javascript %}
    <script src="/static/js/vue.js"></script>
    {#
    <script>
        $(function(){
            $(".more-facets").click(function()
            {
                var modal_id = $(this).data("target");
                var facet_name = modal_id.replace("#facetModal-","");

                $.ajax(
                    {
                        url: "/facets/"+facet_name,
                        data: { "search_dict": "{{ search_dict|safe }}" },
                        success: function (data, status, xhr)
                        {
                            $(modal_id+" .in-facet-search-input").data("facet", facet_name);
                            $(modal_id+" .in-facet-search-input").val("");    // Reset search input
                            $(modal_id+" .facet-modal-options").html(data);
                        },
                    });
            });

            $(".in-facet-search-input").on("input propertychange", function()
            {
                var searchVal = $(this).val();
                var facet_name = $(this).data("facet");
                var modal_id = "#facetModal-"+facet_name;

                $.ajax(
                    {
                        url: "/facets/"+facet_name,
                        data:
                            { "search_dict": "{{ search_dict|safe }}",
                                "search_val": searchVal
                            },
                        success: function (data, status, xhr)
                        {// success callback function
                            $(modal_id+" .facet-modal-options").html(data);
                        },
                    });
            });
        });
    </script>
    #}
{% endblock %}