{#
#---------------------------------------------------------------------------#
#-----------------             BAKALÁŘSKÁ PRÁCE            -----------------#
#----------------- Aktualizace portálu evropských projektů -----------------#
#-----------------     a jeho rozšíření o identifikaci     -----------------#
#-----------------     výsledků, souvisejících s tématy    -----------------#
#-----------------          nově vypisovaných výzev        -----------------#
#-----------------              FIT VUT v Brně             -----------------#
#----------------- Autor: Lucie Dvořáková (2014-2015)      -----------------#
#-------------------      Petr Staněk (2015-2016)          -----------------#
#-------------------      Jiří Furda (2018-2019)           -----------------#
#----------------- Vedoucí: Doc. RNDr. Pavel Smrž, Ph.D.   -----------------#
#----------------------- Poslední úpravy: 15.5.2019 ------------------------#
#--- Soubor: extactor.py                                      Verze: 3.0 ---#
#-------- http://knot.fit.vutbr.cz/wiki/index.php/rrs_eu_projects14 --------#
#--------------------- Licence: BUT Open source licence --------------------#
#---------------------------------------------------------------------------#
#}

{% extends 'layout.html' %}

{% block body %}
    <div class="card card--project-details card--small-padding">
        <div class="card-header">
            Project details
        </div>
        <div class="card-body">
            {% if project.fundedUnder %}
                <b>Funded under</b>
                <ul>
                    {% for fundedUnder in project.fundedUnder %}
                        <li>{{ fundedUnder.programme }}-{{ fundedUnder.subprogramme }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if project.totalCost %}
                <b>Total cost</b>
                <ul>
                    <li>&euro; {{ '{:.1f}'.format(project.totalCost|float) }}</li>
                </ul>
            {% endif %}

            {% if project.ecMaxContribution %}
                <b>EU contribution</b>
                <ul>
                    <li>&euro; {{ '{:.1f}'.format(project.ecMaxContribution|float) }}</li>
                </ul>
            {% endif %}

            {% if project.id %}
                <b>RCN</b>
                <ul>
                    <li>{{ project.id }}</li>
                </ul>
            {% endif %}
            {% if project.fundingScheme %}
                <b>Funding Scheme</b>
                <ul>
                    <li>{{ project.fundingScheme.code }} - {{ project.fundingScheme.title }}</li>
                </ul>
            {% endif %}

            {% if project.topics %}
                <b>Topic</b>
                <ul>
                    {% for topic in project.topics %}
                        <li><a href="{{ url_for("topics.show", topic_id=topic.code) }}">{{ topic.code }}</a> - {{ topic.title }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if project.subjects %}
                <b>Subject</b>
                <ul>
                    {% for subject in project.subjects %}
                        <li>{{ subject.code }} - {{ subject.title }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if project.callForPropos %}
                <b>Call For Proposal</b>
                <ul>
                    <li>{{ project.callForPropos }}</li>
                </ul>
            {% endif %}

            {% if project.lastUpdate %}
                <b>Last update on Cordis</b>
                <ul>
                    <li>{{ project.lastUpdate }}</li>
                </ul>
            {% endif %}

            {# if project.statproject.updateDate %}
                          <li><b>Last update in DB</b>
                             <ul>
                                <li>{{ project.statproject.updateDate }}</li>
                             </ul>
                          </li>
                       {% endif %}

                       {% if project.statproject.insertDate %}
                          <li><b>Inserted in DB</b>
                             <ul>
                                <li>{{ project.statproject.insertDate }}</li>
                             </ul>
                          </li>
                       {% endif #}

            {% if project.reference %}
                <b>Project Reference</b>
                <ul>
                    <li>{{ project.reference }}</li>
                </ul>
            {% endif %}

            {% if project.website %}
                <b>Project website</b>
                <ul>
                    {% for website in project.website %}
                        <li>
                            <a href="{{ website.origWeb }}" target="_blank">{{ project.acronym }} website{% if website.retCode < 200 or website.retCode > 300 %} <span class="badge alert-danger">{{ website.retCode }}</span>{% endif %}</a>
                            {# if current_user.authenticated %}
                                     <span class="badge alert-danger">From Yahoo {{ website.fromGoogle }}</span>
                                     <span class="badge alert-danger">Auto accepted: {{ website.autoAccepted }}</span>
                                     <span class="badge alert-danger">Accepted: {{ website.accepted }}</span>
                                  {% else }
                                     {% if website.fromGoogle and not website.autoAccepted and not website.accepted %}
                                        <span class="badge alert-danger">Warning: URL found on Yahoo and not accepted</span>
                                     {% endif %}
                                  { endif #}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

    <h1 class="h3">{{ project.acronym }} - {{ project.title }}</h1>
    {% if (project.startDate and project.endDate) or project.url %}
        <p>
            {% if project.startDate and project.endDate %}
                <b>From</b> {{ project.startDate }} <b>to</b> {{ project.endDate }}{% if isRunning %}, {{ project.statusDetails|lower }}{% else %}, closed project{% endif %}
            {% endif %}
            {% if project.url %}
                <a href="https://cordis.europa.eu/project/rcn/{{ project.id }}/factsheet/en" target="_blank">View this project on Cordis <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
            {% endif %}
        </p>
    {% endif %}

    <p class="card-text">{{ project.objective|safe }}</p>

    {% if project.coordinator %}
        {% if project.coordinator|length == 1 and project.coordinator[0].prinInvestFirstName %}
            <h3>Principal Investigator</h3>
            {{ project.coordinator[0].prinInvestFirstName }} {{ project.coordinator[0].prinInvestLastName }}<br>
            Tel.: {{ project.coordinator[0].prinInvestTel }}<br>
            Fax: {{ project.coordinator[0].prinInvestFax }}
        {% endif %}
    {% endif %}

    {% if project.coordinator %}
        <section class="pb-2">
        <h3 class="pb-2">Coordinator{% if project.coordinator|length > 1 %}s{% endif %}</h3>
            <div class="container">
                <div class="row">
                    {% for coordinator in project.coordinator %}
                        <div class="card">
                            <div class="card-header bg-ec_dark_blue p-2">
                                <span class="mb-0">
                                    {% if coordinator.shortName %}
                                        <strong>{{ coordinator.shortName.title() }}</strong> -
                                    {% endif %}
                                    {{ coordinator.name.title() }}
                                    {% if coordinator.country %}
                                        <i>({{ coordinator.country }})</i>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="card-body p-2">
                                <ul class="list-unstyled mb-0">
                                    {% if coordinator.postalCode or coordinator.city %}
                                        <li>
                                            {% if coordinator.postalCode %}
                                                {{ coordinator.postalCode }}
                                            {% endif %}

                                            {% if coordinator.city %}
                                                {{ coordinator.city.title() }}
                                            {% endif %}
                                        </li>
                                    {% endif %}

                                    {% if coordinator.country %}
                                        <li>{{ coordinator.country }}</li>
                                    {% endif %}

                                    {% if coordinator.firstName %}
                                        <li>Administrative contact: {{ coordinator.firstName }} {{ coordinator.lastName }}</li>
                                    {% endif %}

                                    {% if coordinator.tel %}
                                        <li>Tel.: {{ coordinator.tel }}</li>
                                    {% endif %}

                                    {% if coordinator.fax %}
                                        <li>Fax: {{ coordinator.fax }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {#<h3> if project.flagproject.projType == 'withPartCoord' %}Coordinator{% else %}Host Institution{% endif %}{% if project.coordinator|length > 1 %}s{% endif %} ({{ project.coordinator|length)</h3> #}

    {% endif %}

    {% if project.participant %}
        <h3 class="pb-2">Participant{% if project.participant|length > 1 %}s{% endif %}</h3>
        {# <h3>{ if project.flagproject.projType == 'withPartCoord' %}Participant{% if project.participant|length > 1 %}s{% endif %}{% else %}Beneficiar{% if project.participant|length == 1 %}y{% else %}ies{% endif %}{% endif %} ({{ project.participant|length }}) </h3>#}
        <div class="accordion mb-4" id="participants-accordion">
            {% for participant in project.participant %}
                <div class="card">
                    <span class="mb-0">
                        <b-button block href="#" v-b-toggle.participants-accordion-{{ loop.index }} variant="info" :class="bg-ec_dark_blue">
                            {% if participant.shortName %}
                                <strong>{{ participant.shortName.title() }}</strong> -
                            {% endif %}
                            {{ participant.name.title() }}
                            {% if participant.country %}
                                <i>({{ participant.country }})</i>
                            {% endif %}
                        </b-button>
                    </span>
                    <b-collapse id="participants-accordion-{{ loop.index }}" accordion="participants-accordion" role="tabpanel">
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                {% if participant.postalCode or participant.city %}
                                    <li>
                                        {% if participant.postalCode %}
                                            {{ participant.postalCode }}
                                        {% endif %}

                                        {% if participant.city %}
                                            {{ participant.city.title() }}
                                        {% endif %}
                                    </li>
                                {% endif %}

                                {% if participant.country %}
                                    <li>{{ participant.country }}</li>
                                {% endif %}

                                {% if participant.firstName %}
                                    <li>Administrative contact: {{ participant.firstName }} {{ participant.lastName }}</li>
                                {% endif %}

                                {% if participant.tel %}
                                    <li>Tel.: {{ participant.tel }}</li>
                                {% endif %}

                                {% if participant.fax %}
                                    <li>Fax: {{ participant.fax }}</li>
                                {% endif %}
                            </ul>
                        </div>
                    </b-collapse>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if (project.website and project.website[0].delivWeb) %} {# or d[0]|length > 0 or d[1]|length > 0 or d[2]|length > 0 #}
        <h3>Deliverables</h3>
    {% endif %}

    {% if project.website and project.website[0].delivWeb %}
        <p>
            {% for website in project.website %}
                {% if website.delivWeb %}
                    Official website &ndash; subpage
                    <ul>
                        {% for website in project.website %}
                            {% if website.delivWeb %}
                                <li><a href="{{ website.delivWeb }}" target="_blank">{{ website.delivWeb }} <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </p>
    {% endif %}

    {% if d %}
        <div class="row deliverables">
            <div class="col-lg-10">
                {% for delivGroup in d %}
                    {% if delivGroup[1]|length > 0 %}
                        <b>{{ delivGroup[0] }} ({{ delivGroup[1]|length }})</b>
                        <ul>
                            {% for deli in delivGroup[1] %}
                                <li>

                                    {% if deli.deliv.sourceInfo[0].delivType == SH_CONF['DELIV_TYPE']['CORDIS_REPORT'] %}
                                        <a href="/report/{{ deli.id }}/{{ deli.deliv.hash }}" data-toggle="tooltip" data-placement="bottom" title="show report"><i class="glyphicon glyphicon-eye-open"></i></a>
                                    {% else %}
                                        <a href="/download/{{ deli.id }}/{{ deli.deliv.hash }}" data-toggle="tooltip" data-placement="bottom" title="download from Athena"><i class="glyphicon glyphicon-save"></i></a>
                                    {% endif %}
                                    <a href="{{ deli.deliv.sourceInfo[0].url }}" target="_blank" data-toggle="tooltip" data-placement="bottom"  data-html="true" title="download from external source
                              {% if deli.deliv.sourceInfo|length > 1 %}
                                 <br><br>ALTERNATIVE TITLES:<br>
                                 {% for sourceInfo in deli.deliv.sourceInfo %}
                                    <div style='text-align:left'>
                                       {{ loop.index }}. {{ sourceInfo.title }}
                                    </div>
                                 {% endfor %}
                              {% endif %}
                              ">{{ deli.deliv.sourceInfo[0].title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if similar_projects %}
        <h3 class="pb-2">Similar projects</h3>
        <div class="row">
            {% for similar_project in similar_projects %}
                <div class="col-md-4">
                    <h4 class="h5">{{ similar_project.title }}</h4>
                    {% if similar_project.objective %}
                        <p>{{ similar_project.objective[:300] }}...</p>
                    {% endif %}
                    <p><a class="btn btn-secondary" href="/projects/{{ similar_project.id }}" role="button">Read more</a></p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}